@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


.home-headings {


font-family: 'Nunito', sans-serif;


}


#logo {


height: 55px;
width: 55px;

}


#camera {

width: 120px;
height: 360px;


}

#cleaner {

width: 120px;
height: 360px;
    
    
}

#macbook {

width: 120px;
height: 360px;
    
    
}

.photos {

height: 100px;
width: 200px;

}

.photobg {

background-color: rgba( 0, 0, 0, .175);
border-radius: 50px;


}

.w-49 {


width: 49%;

}

input,textarea {

    padding: 6px 13px;
    background-color:white;
    border: 2px solid;
    border-radius: 7px;
    
    }

input[type=submit],input[type=reset] {

    font-size:medium;
    background-color: white;
    border-radius: 6px;   
             
}

#github {

    text-decoration: none;
    padding: 5px 9px 5px 6px;
    font-size:50px;
    color:grey;
    
    }
    
    
    #linkedin {
    
    padding: 5px 9px 5px 9px;
    color: lightblue;
    font-size:50px;
    text-decoration: none;
    
    }
    
    #gmail {
    
    margin-bottom: 30px;
    text-decoration: none;
    height: 44px;
    width: 44px;
    
    
    }
    
    #phone {
   
    margin-bottom: 30px;
    width:44px;
    height:44px;
    text-decoration: none;
    
    
    
    }
    
    #email {
    
    text-decoration: none;
    
    
    }

@media  screen {
    


}