#logo {


height: 55px;
width: 55px;

}


#camera {

width: 120px;
height: 360px;


}

#cleaner {

width: 120px;
height: 360px;
    
    
}

#macbook {

width: 120px;
height: 360px;
    
    
}

.photos {

height: 100px;
width: 200px;

}

.photobg {

background-color: rgba( 0, 0, 0, .175);
border-radius: 50px;


}

.w-49 {


width: 49%;

}


@media  screen {
    


}